body {
	background-color: gray;
	color: black;
}

a {
	text-decoration: none;
	color: silver;
}

h1 {
	font-size: 20px;
}

h3 {
	font-size: 16px;
}

textarea {
	width: 90%;
	height: 25em;
}

.tip {
	background: white;
	color: darkred;
	font-size: 15px;
	width: 90%;
	height: auto;
	margin: auto;
	border: dotted 1px darkblue;
	text-align: left;
}

.choose-block {
	background-color: darkgreen;
	border: solid 1px gray;
	width: 50%;
	margin: auto;
}

.choose-block:hover {
	margin: 4px;
}