﻿.float_banner_image {
  width: 25%;
  border: solid 1px black;
  transition: all .3s;
}

.float_banner_image:hover {
  width: 50%;
}

.float_banner_image img {
  width: 100%;
}

.album_box {
  width: 70%;
  height: 80%;
  position: absolute;
  z-index: 2000;
  border: 1px solid black;
  left: 15%;
  top: 5%;

  background-color: white;

  opacity: .8;
  transition: all .4s;
}

.album_box:hover {
  background-color: white;
  left: 10%;
  width: 80%;
  height: 90%;
  opacity: 1;
}

.rasp_div {
	border: solid 1px black;
	margin: 2px;
}

.main_container {
	border: solid 1px black;
	padding: 3px;
	margin: auto;
	overflow: auto;
}

.main_left_container {
	border: solid 1px black;
	float: left;
	width:79%;
}

.main_right_container {
	border: solid 1px black;
	float: right;
	width: 20%;
}

.main_left_container .news-block {
border: solid 1px black;
width: 95%;
}

.main_left_container .news-block .news-publication-timestamp {
color: gray;
float: left;

border: solid 1px black;
}

.main_left_container .news-block h2 {
color: rgb(70,70,70);
border: solid 1px black;
margin: auto;
}

.main_left_container .news-block .content-box {
width: 95%;
margin: auto;
overflow: hidden;

border: solid 1px black;
}

.main_left_container .news-block .content-box .content-box-image {
border: solid 1px black;
width: 320px;
height: auto;

float: left;
}

.main_left_container .news-block .content-box .content-box-text {
border: solid 1px black;

float: left;
}

.main_left_container .news-block .next-link-box {
border: solid 1px black;
float: right;
width: 100px;
height: 35px;
overflow: hidden;
color: white;
background-color: blue;
}

.header {
width: 100%;
margin: auto;
border: solid 1px;
margin-bottom: 2px;
margin-top: 2px;
}

.header .quick_contacts {
width: 95%;
margin: auto;
border: solid 1px;
clear: all;
margin-bottom: 2px;
margin-top: 2px;
padding-bottom: 2px;
overflow: auto;
}

.header .quick_contacts .telephone {
float: left;
margin-bottom: 2px;
margin-top: 2px;
}

.header .quick_contacts .mail {
float: left;
margin-bottom: 2px;
margin-top: 2px;
}

.header .quick_contacts .icons-links {
float: right;
margin-bottom: 2px;
margin-top: 2px;
}

.header .logo-search-container {
width: 95%;
margin: auto;
border: solid 1px;
clear: all;
margin-bottom: 2px;
margin-top: 2px;
overflow: auto;
}

.header .logo-search-container .logo {
float: left;
margin-bottom: 2px;
margin-top: 2px;
}

.header .logo-search-container .search-form {
float: right;
margin-top: 15px;
margin-bottom: 15px;
}

.header .menu-container {
height: 45px;
border: solid 1px;
width: 90%;
margin: auto;
margin-bottom: 2px;
margin-top: 2px;
}

.header .float-images-banner {
height: auto;
width: 98%;
border: solid 1px;
padding: 1px;
margin: auto;
margin-bottom: 2px;
margin-top: 2px; 
overflow: auto;
}

#top-menu ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  z-index: 1000;
}

#top-menu > ul > li {
  float: left;
}

#top-menu > ul > li > ul {
  top: 100%;
  left: 0;
}

#top-menu li {
  position: relative;
}

#top-menu a {
  display: block;
  white-space: nowrap;
}

#top-menu ul li li ul {
  top: 0;
  left: 100%;
}

#top-menu ul ul {
  visibility: hidden;
  position: absolute;
}

#top-menu li:hover > ul {
  visibility: visible;
}
#top-menu {
  padding: 0 5px;
}

#top-menu,
#top-menu > ul {
  background-color: #9DA4AD;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#top-menu:after {
  content: "";
  clear: both;
  display: block;
}

#top-menu a {
  text-decoration: none;
  color: #FFFFFF;
  padding: 5px 10px 5px 10px;
  line-height: 1.2;
}

#top-menu > ul > li > a {
  padding: 5px 10px;
  margin: 2px 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#top-menu > ul > li > ul + a {
  padding-bottom: 7px;
  margin-bottom: 0;
}

#top-menu > ul > li > ul + a:after {
  content: " \25bc";
}

#top-menu > ul > li > a{
  transition-duration: 300ms;
}

#top-menu > ul > li:hover > a {
  background-color: #4672B3;
}

#top-menu > ul > li:hover > ul + a {
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}

#top-menu > ul > li > ul {
  min-width: 100%;
  background-color: rgb(70, 114, 179);
  background-color: rgba(70, 114, 179, 0.8);
}

#top-menu > ul > li li > ul + a:after {
  content: " \25b6";
}

#top-menu > ul > li > ul > li:last-child,
#top-menu > ul > li > ul {
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}

#top-menu ul li li:hover,
#top-menu ul li li ul,
#top-menu ul li li ul li {
  transition-duration: 300ms;
}

#top-menu ul li li:hover,
#top-menu ul li li ul,
#top-menu ul li li ul li:hover {
  background-color: rgb(255, 255, 178);
  background-color: rgba(255, 255, 178, 0.4);
}

#top-menu > ul > li > ul,
#top-menu ul li li ul {
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
}

#top-menu > ul > li > ul {
  top: 400%;
  opacity: 0;
}

#top-menu > ul > li:hover > ul {
  top: 100%;
  opacity: 1;
}

#top-menu ul li ul li ul {
  left: 400%;
  opacity: 0;
}

#top-menu ul li ul li:hover ul {
  left: 100%;
  opacity: 1;
}

.carousel {
width: 99%;
padding: 5px;
overflow: hidden;
/*border: 1px solid #ccc;
border-radius: 3px; */
text-align: center;  /* центрирует кнопки-переключатели */
}

.carousel-list {
white-space: nowrap;
padding: 0;
margin: 0;
transition: transform .3s;
}

.carousel-list li {
white-space: normal; /* сброс */
display: inline-block;
width: 100%;
}

.carousel-list img {
width: 99%; /* подгоняется под контейнер */
vertical-align: bottom; /* удаляет пустое пространство под изображением */
}

/**
 * список перемещается кнопками-переключателями
 */
input:nth-child(1):checked ~ ul {
transform: translateX(0);
}

input:nth-child(2):checked ~ ul {
transform: translateX(-100%);
}

input:nth-child(3):checked ~ ul {
transform: translateX(-200%);
}

input:nth-child(4):checked ~ ul {
transform: translateX(-300%);
}

input:nth-child(5):checked ~ ul {
transform: translateX(-400%);
}

/**
 * эффект плавного появления
 */
.carousel-list li {
opacity: .1;
transition: all .4s;
transform: linear(.1);
}

input:nth-child(1):checked ~ ul li:nth-child(1),
input:nth-child(2):checked ~ ul li:nth-child(2),
input:nth-child(3):checked ~ ul li:nth-child(3),
input:nth-child(4):checked ~ ul li:nth-child(4),
input:nth-child(5):checked ~ ul li:nth-child(5) {
opacity: 1;
transform: linear(1);
}