<!-- ustav -->
<h1>Устав ОГБОУ СПО "Ульяновский авиационный колледж"</h1>
<a href="/res/files/stat_files/ustav.jpg"><img src="/res/files/stat_files/ustavsmal.jpg"></a>
<a href="/res/files/stat_files/docs_files/ustav_oblast_avia.pdf">Посмотреть в pdf-формате</a>

<!-- licenses with prilojeniya -->

<h1>Лицензии с приложениями</h1>
<a href="/res/files/stat_files/lic1.jpg"><img src="/res/files/stat_files/lic1smal.jpg"></a>
<a href="/res/files/stat_files/lic2.jpg"><img src="/res/files/stat_files/lic2smal.jpg"></a>
<a href="/res/files/stat_files/lic3.jpg"><img src="/res/files/stat_files/lic3smal.jpg"></a>
<a href="/res/files/stat_files/lic4.jpg"><img src="/res/files/stat_files/lic4smal.jpg"></a>
<a href="/res/files/stat_files/lic5.jpg"><img src="/res/files/stat_files/lic5smal.jpg"></a>
<a href="/res/files/stat_files/lic6.jpg"><img src="/res/files/stat_files/lic6smal.jpg"></a>
<a href="/res/files/stat_files/lic7.jpg"><img src="/res/files/stat_files/lic7smal.jpg"></a>

<!-- accreditation -->

<h1>Свидетельство об аккредитации с приложениями</h1>
<a href="/res/files/stat_files/acc1.jpg"><img src="/res/files/stat_files/acc1smal.jpg"></a>
<a href="/res/files/stat_files/acc2.jpg"><img src="/res/files/stat_files/acc2smal.jpg"></a>
<a href="/res/files/stat_files/acc3.jpg"><img src="/res/files/stat_files/acc3smal.jpg"></a>

<!-- fin hoz tip -->
<h1>Бюджетная смета на 2015</h1>
<a href="/res/files/stat_files/fh1.jpg"><img src="/res/files/stat_files/fh1aml.jpg"></a>
<a href="/res/files/stat_files/fh2.jpg"><img src="/res/files/stat_files/fh2aml.jpg"></a>
<a href="/res/files/stat_files/fh3.jpg"><img src="/res/files/stat_files/fh3aml.jpg"></a>
<a href="http://bus.gov.ru/pub/info-card/220293%20?%20activeTab=3">Отчёт финансо-хозяйственной деятельности</a>

<h1>Коллективный договор ОГБОУ СПО "Ульяновский авиационный колледж"</h1>
<a href="/res/files/stat_files/kd1.jpg"><img src="/res/files/stat_files/kd1sm.jpg"></a>
<a href="/res/files/stat_files/kd2.jpg"><img src="/res/files/stat_files/kd2sm.jpg"></a>
<a href="/res/files/stat_files/kd3.jpg"><img src="/res/files/stat_files/kd3sm.jpg"></a>

<a href="/res/files/stat_files/docs_files/koldog.doc">Коллективный договор ОБГОУ СПО "УАвиаК" в формате word</a>
<a href="/res/files/stat_files/docs_files/koldog.pdf">Коллективный договор ОБГОУ СПО "УАвиаК" в формате pdf</a>
<a href="/res/files/stat_files/docs_files/poloboplnew.doc">Приложение 2 к колдоговору Положение об оплате труда в формате word</a>
<a href="/res/files/stat_files/docs_files/poloboplnew.pdf">Приложение 2 к колдоговору Положение об оплате труда в формате pdf</a>

<h1>Программа развития ОГБОУ СПО "Ульяновский авиационный колледж"</h1>
<a href="/res/files/stat_files/docs_files/progrraz.pdf">Программa развития ОГБОУ СПО УАвиаК в формате pdf</a>

<h1>Государственное задание</h1>
<a href="/res/files/stat_files/gz1.jpg"><img src="/res/files/stat_files/gz1sm.jpg"></a>
<a href="/res/files/stat_files/gz2.jpg"><img src="/res/files/stat_files/gz2sm.jpg"></a>
<a href="/res/files/stat_files/gz3.jpg"><img src="/res/files/stat_files/gz3sm.jpg"></a>

<h1>Локальные акты</h1>
<a href="/res/files/stat_files/docs_files/trudoustrnew.pdf">Положение о службе содействия трудоустройству выпускников в формате pdf</a>
<a href="/res/files/stat_files/docs_files/polindplan.pdf">Положение об обучении по индивидуальным планам в формате pdf</a>
<a href="/res/files/stat_files/docs_files/vnytryras">Положение о внутреннем распорядке для обучающихся в формате pdf</a>
<a href="/res/files/stat_files/docs_files/poltekkon.pdf">Положение о текущем контроле и промежуточной аттестации в формате pdf</a>
<a href="/res/files/stat_files/docs_files/poloend.pdf">Положение о порядке оформления возникновения, приостановления и прекращения отнешений между УАвиаК и обучающимися в формате pdf</a>
<a href="/res/files/stat_files/docs_files/stipend.pdf">Положение о стипендиальном обеспечении в формате pdf</a>
<a href="/res/files/stat_files/docs_files/orgobr.pdf">Положение об организации и осуществлении образовательной деятельности по программам СПО в формате pdf</a>
<a href="/res/files/stat_files/docs_files/academ.pdf">Положение о порядке и условиях предоставления академического отпуска обучающимся в формате pdf</a>
<a href="/res/files/stat_files/docs_files/itiogiga.pdf">Положение о порядке проведения государственной итоговой атестации по образовательным программам СПО в формате pdf</a>
<a href="/res/files/stat_files/docs_files/merdicip.pdf">Положение о порядке применения к студентам и снятия со студентов мер дисциплинарного взыскания в формате pdf</a>
<a href="/res/files/stat_files/docs_files/perevodplbes.pdf">Положение о порядке перехода лиц, обучающихся по ОП СПО с платного обучения на бесплатное в формате pdf</a>
<a href="/res/files/stat_files/docs_files/polpraktika.pdf">Положение о практике обучающихся ОГБОУ СПО УАвиаК в формате pdf</a>
<a href="/res/files/stat_files/docs_files/uregulirspor.pdf">Положение о комиссии по урегулированию споров между участниками образовательных отношений в формате pdf</a>

<h1>Отчёт по самообследованию ОГБОУ СПО "Ульяновский авиационный колледж"</h1>
<a href="/res/files/stat_files/img0171.jpg"><img src="/res/files/stat_files/otsamobsm.jpg"></a>
<a href="/res/files/stat_files/docs_files/otchesamoobsled.pdf">Отчёт по самообследованию ОГБОУ СПО "Ульяновский авиационный колледж" за 2013-2014 учебный год в формате pdf</a>

<h1>Антикоррупционная политика</h1>
<a href="/res/files/stat_files/docs_files/metperanti.pdf">Методические рекомендации по разработке и принятию организациями мер по предупреждению и противодействию коррупции в формате pdf</a>
<a href="/res/files/stat_files/docs_files/planti.pdf">План мероприятий по противодействию коррупции ОГБОУ СПО УАвиаК в формате pdf</a>
<a href="/res/files/stat_files/docs_files/polanti.pdf">Положение об антикоррупционной рабочей группе по противодействию коррупции ОГБОУ СПО УАвиаК в формате pdf</a>
<a href="/res/files/stat_files/docs_files/prikazanti.pdf">Приказ «Об утверждении положения и состава антикоррупционной рабочей группы» ОГБОУ СПО УАвиаК в формате pdf</a>