<center><h1>Основная информация</h1></center>
<br clear="all">
<div class="content-box">

	<div style="border:solid 1px; float:left; width:auto; underflow:false; margin-right:5px;">
		<center><img src="/res/files/stat_files/sam_nov1.jpg"><center>
	</div>

	<div class="content-box-test"> 
Областное государственное бюджетное образовательное учреждение среднего профессионального образования «Ульяновский авиационный колледж» является областным государственным бюджетным образовательным учреждением на основании Распоряжения Правительства Российской Федерации от 29 декабря 2011 года и Распоряжения Правительства Ульяновской области от 13 января 2012 года. Учреждение является правопреемником всех прав и обязательств:

Федерального государственного образовательного учреждения среднего профессионального образования «Ульяновский авиационный колледж», созданного приказом Федерального агентства по образованию от 28 декабря 2006 г. № 1672; Ульяновского авиационного колледжа, созданного приказом Министерства образования Российской Федерации от 10 января 1993 г. № 03; Ульяновского авиационного техникума, организованного приказом Министра авиационной промышленности СССР от 9 июля 1985 г. № 200. 
	</div>
<br clear="all">
</div>