<h1>Структурные подразделения</h1>

<table>
	<tr>
		<td>Подразделение</td>
		<td>Телефон</td>
	</tr>

	<tr>
	<td>Приёмная директора</td><td> 	8(8422) 20-56-71   1ый корп. каб.215</td>
</tr>
<tr>
	<td>Ресурсный центр авиастроения</td><td> 	8(8422) 20-15-12   2ой корп.</td>
</tr>
<tr>
	<td>Бухгалтерия</td><td> 	8(8422) 50-01-78</td>
</tr>
<tr>
	<td>Отдел кадров</td><td> 	8(8422) 20-09-08 1ый корп. каб.222</td>
</tr>
<tr>
	<td>Учебная часть</td><td> 	8(8422) 20-15-85 1ый корп. каб.214  2ой корп. 20-15-05</td>
</tr>
<tr>
	<td>Очное отделение</td><td> 	8(8422) 20-15-85</td>
</tr>
<tr>
	<td>Заочное отделение</td><td> 	8(8422) 20-15-72</td>
</tr>
<tr>
	<td>Библиотека</td><td> 	8(8422) 20-56-71</td>
</tr>
<tr>
	<td>Вахта</td><td> 	8(8422) 20-15-47</td>
</tr>
<tr>
	<td>АХЧ</td><td> 8(8422) 20-15-47   2ой корп. 20-14-13</td>
</tr>
<tr>
	<td>Методическая служба</td><td> 	8(8422) 20-09-08</td>
</tr>
<tr>
	<td>Столовая</td><td> 	8(8422) 20-15-47</td>
</tr>

</table>

