<script src="/res/app/ckeditor/ckeditor.js"></script>

<script type="text/javascript">
//this is for upload-form
	var CountInAlbumFileForm = 3;

	function hideAlbumForms()
	{
		if (document.getElementById("ch1").checked)
			{
				document.getElementById("albumFormOther").style="display:block;";
				document.getElementById("albumFormFiles").style="display:block;";
			}
		else
			{
				document.getElementById("albumFormOther").style="display:none;";
				document.getElementById("albumFormFiles").style="display:none;";
			}
	}

	function addNewFormForUploadAlbumPhoto()
	{
		if (CountInAlbumFileForm < 15)
			{
				CountInAlbumFileForm += 1;

				var newForm = document.createElement('input');
				newForm.name = "uploadfile[]";
				newForm.type = "file";

				document.getElementById("albumFormFiles").appendChild(newForm);

				document.getElementById("albumFormFiles").innerHTML += "<br>";
			}
		else
			{ alert("Максимальное кол-во фото!"); }
	}

</script>

<style type="text/css">
	input {
		width:550px;
		height: 2em;
		margin: auto;
		padding: 2px;
	}
</style>

<hr>
<form id="postform" method="post" action='%%action%%' enctype="multipart/form-data">
	
	<input type="text" name="news_title" value="Заголовок новости...">
	
	<textarea name="news_text" id="editor1" rows="10" cols="80">
                Text of news...
    </textarea>
    <script>
    	CKEDITOR.replace( 'editor1' );
    </script>
		
	<div class="choose-block">
		Картинка-превьюшка : <input type="file" name="uploadfile[]">
	</div>

	<hr>

	<div class="choose-block">
		Добавить альбом? <input id="ch1" name="create_album" type="checkbox" value="1" checked onchange="javascript:hideAlbumForms();">
	</div>

	<div id="albumFormOther" class="choose-block">
		<input type="text" name="news_album_name" value="Имя альбома..."><br>
		<a href="javascript:addNewFormForUploadAlbumPhoto();">Добавить ещё файлов на загрузку</a>
	</div>

	<div id="albumFormFiles" class="choose-block">
		<input type="file" name="uploadfile[]"><br>
		<input type="file" name="uploadfile[]"><br>
		<input type="file" name="uploadfile[]"><br>
	</div>

	<hr>
	<input type="submit" value="Создать новость">
</form>