		<form id="redraw_menu_template" method="post" action='%%action_f_button%%' enctype="multipart/form-data">
			<input type="submit" value="Перерисовать шаблон меню">
		</form>

		<form id="redraw_menu_templates" method="post" action='%%action_s_button%%' enctype="multipart/form-data">
			<input type="submit" value="Перерисовать закэшированные странички">
		</form>

	</body>
</html>