<form id="postform" method="post" action='%%action%%' enctype="multipart/form-data">
	<!--input type="text" name="pass"-->
	<textarea name="textedit">%%text%%</textarea>
	<br>
	<input type="submit" value="Сохранить">
</form>