<div class="rasp_div">
	<a href="/index.php?page=rasp">Расписание (очное)</a><br>
	<a href="/index.php?page=rasp_zaoch">Расписание (заочное)</a><br>
	<a href="/index.php?page=stud_news">Студенческая газета <b>Ступени</b></a>
</div>

<div class="rasp_div">
	Прием граждан директором колледжа А.К Шуенковой
	<hr>
	<h2>Каждый 2-ой вторник месяца</h2>
</div>