<div class="main_container">

	<!-- There news -->
	<div class="main_left_container">
		%%news_responsible_html%%
	</div>

	<!-- There right menu with helpful content -->
	<div class="main_right_container">
		%%right_menu%%
	</div>

</div>