<div class="news-block">

	<div class="news-publication-timestamp"> Published : %%date%% %%time%% </div> <br clear="all">
            
	<center>
		<h2>%%news_title%%</h2>
	</center>

	<div class="content-box">

		<div class="content-box-image">
			<center><img src="%%img_link%%"></center>
		</div>

		<div class="content-box-test"> %%text%% </div>

	</div>

	<br clear="all">

</div>
<br clear="all">
<hr>